@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Paytone+One&display=swap');


/*μλ¬Έν°νΈ*/
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fruktur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');