@charset "utf-8";
@import url('fonts.css');

header {
    
}
.head {
    position: relative;
    height: 600px;
    width: 100%;
    background: url(../img/earl-wilcox-_PH_2xQo3iQ-unsplash.jpg) no-repeat center/cover;
}
.head .name {
    position: absolute;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    top: 40%; left: 40%;
}
.head nav {
    
}
.head ul {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0; left: 0;
    background:#220070;

}
.head ul li{
    display: inline-block;
    box-sizing: border-box;
    width: calc(100%/5 - 1px);
    text-align: center;
    margin-left: 1px;
    padding-top: 5px;
    float:left;
    font-size: 22px;
    color: #fff;
}

/* //header */
.contents {
    margin: 50px ;
}
.contents h1 {
    color: #220070;
    margin-bottom:30px ;
}
.contents .sub {
    font-size: 18px;
    margin-bottom:20px;
}
