@charset "utf-8";
@import url('fonts.css');
@import url('all.min.css');

body {font-family:  "Noto Sans KR", sans-serif;}
.inner {position: relative; max-width: 1000px; margin: 0 auto;}
.all {width: 1440px; margin: 0 auto;}
header {
    position: absolute; 
    top: 0; left: 0;
    width: 100%; 
    height: 122px;
    z-index: 5; 
    color: #efefef;
}
header:hover {
    background: #ffffff;
    color: #111;
    transition: all 0.6s;

}
header .tophead {
    position: relative;
    padding-top: 20px;
}
header .tophead h1 {
    text-align: center;
}
header .tophead .left {
    position: absolute;
    top: 20%; left: 0;
}
header .tophead .right {
    position: absolute;
    top: 20%; right: 0;
}
header .tophead ul {
    float: right;
}
header .tophead ul li{
    float: left;
    padding-right: 10px;  
}
header .tophead > a > img {
    display: block;
    margin: auto;
}
.bottomhead .gnb ul {
    float:left;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.bottomhead .gnb ul li {
    display: inline-block;
    margin-right: 50px;
}
.mainimg {
    position:relative;
    height: 676px;
    background: url(../img/20230525_final_tilda-swinton_KV_banner_pc.jpg) no-repeat center/cover ;
}
/* //header */

.contents{
    width: 1440px;
    margin: 0 auto;
}
.contents h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 120px;
    padding-bottom: 20px;
}
.contents ul {text-align: center;}
.contents ul li {
    float: left;
    width: calc(100%/3 - 16px);
    margin-left: 16px;
}
.contents ul li:first-child {
    margin-left: 0;
}
.contents ul li img{
    width: 464px;
}
.pricetag .weight {
    padding-top: 15px;
    font-weight: 500;
    font-size: 20px;
}
.pricetag .gray {
    padding-top: 5px;
    color: #969696;
    font-family: 'Roboto';
    font-size: 14px;
}
.pricetag .price{
    padding-top: 20px;
    font-size: 14px;
}
.bestseller {
    position: relative;
    background: url(../img/베스트셀러.jpg) no-repeat center/contain;
    height: 540px;
    margin-top: 150px;
}
.bestseller .textarea {
    position: absolute;
    bottom: 10%; left: 10%;  
}
.bestseller .textarea .big {
    font-size: 32px;
    font-weight: 500;
}
.bestseller .textarea .text {
    margin-top: 10px;
    font-size: 18px;
    color: #757575;
}
.bestseller .textarea .mbox {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid #111;
}
.contents2 h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 120px;
    padding-bottom: 20px;
}
.contents2 ul {text-align: center;display: flex; justify-content: space-between;}

.contents2 ul li {
    position: relative;
    width: 342px;
    height: 522px;
}
.contents2 ul li .pricetag {
    position: absolute;
    bottom: 0; left: 0;
    
}
.contents2 ul .one {
    background: url(../img/상품6.jpg) no-repeat center/cover;
}
.contents2 ul .two {
    background: url(../img/상품7.jpg) no-repeat center/cover;
    width: 708px;
    text-align: left;
}
.contents2 ul .three {
    background: url(../img/상품5.jpg) no-repeat center/cover;
}



/* store */

.store ul {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    margin-top: 120px;
}
.store ul li {
    width: 45%;
    flex: 1;
}
.store ul li img {
    max-width: 100%;
    height: auto;
}
.store ul li a p {
    margin-top: 15px;
    font-size: 28px;
    font-weight: 500;
}
.store ul li a span {
    display: inline-block;
    border: 1px solid #111 ;
    margin-top: 20px;
    padding: 10px 35px;
    font-size: 14px;
}
/* with */
.with {
    margin-top: 150px;
    
}
.with p {
    font-weight: 700;
    font-size: 24px; 
}
.with ul {display: flex; margin: 50px 0;}
.with ul li a {
     width: 100%;
    height: 300px;
} 
.with ul li a img {
    width: 300px;
    height: 300px;
}


/* footer */
footer { 
    
}
footer ul {
    border: 1px solid #dadada; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 10px 0;
}
footer ul li {
    padding: 0 10px 0 10px;
    color: #646464;
}
footer ul li .tt {
    width: 40px;
    margin-left: 50px;
}
/* .last {
    position: relative;
    width: 100%;
}
.last .small {
    position: absolute;
    bottom: 0; left: 10%;
} */


