@charset "utf-8";

body {font-family: 'Noto Sans KR', sans-serif;}
#wrap {}
header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.7);
    z-index: 100;
}
.inner {
    position: relative;
    max-width: 1548px;
    margin: auto;
    display: flex;
    justify-content: center;
    top: 15px;
}
.inner h1 a img {
    width: 70px;
    position: absolute;
    left: 50%; top: 15px;
    transform: translate(-50%, -50%);
    
}
/* .inner h1 {
    width: 70px;
    height: 30px;
    background: url(../img/logo-pc.svg)no-repeat center/contain;
} */
.menuBar {cursor: pointer;}
.menuBar p {
    display: inline-block;
    position: absolute;
    left: 10px;    
}
.menuBar > img {
    position: absolute;
    left: -40px;
    width: 30px;
    margin:0 10px;
}



/* 메뉴 on */
.buttonBox { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 50px auto;
    border-top: 1px solid #585858;
    border-bottom: 1px solid #585858;
}
.tab1 {
    width: 984px;
    border-right: 1px solid #585858;
}
.menuBarOn {
    width: 100%;
    height: 937px;
    z-index: 900;
    position: fixed;
    top: 0; left: 0;
    background: #000;
    color: #fff;
    display: none;
}
.menuBarOn .inlogo {
    width: 80px;
    margin: 80px 0;
}
.menuBarOn ul{
    margin:80px 0 130px 0;
    display: flex;
    font-size: 24px;
    color: #797979;
    font-weight: 600;
}
.menuBarOn ul li {margin: 0 10px;}
.menuBarOn ul li:hover {color: #fff;}
.menuBarOn ul li span {margin-left: 15px;}
.close {
    width: 40px; height: 40px;
    filter:invert();
    position: absolute;
    top: 80px; right: 100px;
    cursor: pointer;
    transition: all ease 1s;
}
.close:hover {
    transform:rotate( 180deg );
}
.menuBox {
    font-size: 70px;
}
.menuBox a:last-child {display: none;}
.menuBox span {
    font-size: 30px;
    font-family: 'Frank Ruhl Libre', serif;
    margin-left: 20px;
}
.menuBox a{display:block;}
.menuBox a:hover {color: #4e4e4e;}
.pflex {
    font-size: 20px;
    margin-top: 20px;
}
.tab2 .left {
    float: left;
}
.tab2 .right {
    float: right;
}
.tab2 .right span {padding-right: 15px; color: #585858;}
.tab2:hover {
    transition: all 0.5s;
    transform: scale( 1.2, 1.2 );
}



/* .inner > a:before {
    content: '';
    width: 30px;
    display:block;
    height: 25px;
    background: url(../img/menu\ \(1\).png)no-repeat center/cover;
    margin-right: 10px;
} */
.break-m {display: none;}
.util > ul {
    display: flex;
    position: absolute;
    right: 0px;
}
.util > ul > li {
    font-size: 15px;
}
.util ul li span {
    color: #ccc;
    margin: 0 10px;
}
.util > ul > li:last-child {
    margin-left: 20px;
    cursor: pointer;
}
.util > ul > li:last-child::after {
    content: '';
}
.util > ul > li > img {
    width: 30px;
}
/* btnshow */
.btnshow {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    height: 600px;
    background: #fff;
    text-align: center; 
    display: none;
}
.btnshow  .btncont {
    padding-top: 100px;
}
.bb {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ccc;
}
.bb .logoImg {
    position: absolute;
    top: 40px; left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}
.inPut {
    display: inline-block;
    width: 650px;
    border-bottom: 2px solid #111;
}
.btncont {
    width: 650px;
    margin: 50px auto
}
.btncont input {
    width: 600px;
    text-align: left;
    font-size: 25px;
    border: none;
    padding-bottom: 15px;
    outline: none;
}
input::placeholder {
    color:#ccc;
}
.leftBox {text-align: left;}
.leftBox p {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}
.leftBox ul li {
    margin: 10px 0;
    color: #585858;
}
.sci {
    width: 30px;
    cursor: pointer;
}
.btnClose {
    position: absolute;
    top: 20px; right: 150px;
    width: 25px;
}
/* //btnshow */
/* //header */
.content {
    text-align: center;  
}
.mainCont {
    margin: 150px 0 0 0;
    border-bottom: 1px solid #ccc;

}
.content .big {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 300px;
    font-size: 80px;
    margin-top: 100px;
}
.content .gray {
    margin-top: 20px;
    font-size: 22px;
    color: #6c6c6c;
    font-weight: 500;
}
.content .b {
    margin-top: 10px;
   font-size: 22px;
}
.mainCont  img {
    margin: 70px 0 90px;
}
br.break-t {
	display: none;
}
.a_1 {
/*     height: 70vh; */
    border-bottom: 1px solid #ccc;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 60px;
}
.a_1 .new {
    width: 50%; height: 644px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* float: left; */
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}
.brand {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.text {
    font-size: 20px;
    color: #6c6c6c;
}
.new > a {
    display:inline-block ;
    margin-top: 20px;
    color: #4e4e4e;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}
.a_1 .swiperBox {
    width: 50%; height: 644px;
    padding: 5.6% 6.2%;
    box-sizing: border-box;
}
.a_1 > .swiper {
    width: 50%;
    height: 70vh;
    float: right;
    box-sizing: border-box;
}
.a_2 {
    padding: 80px 0;
    /* border-top: 1px solid #ccc; */
}

.a_2 > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;  
}
.a_2 > ul > li{
    margin-right: 40px;
    box-sizing: border-box;
}
.a_2 > ul > li:last-child {margin-right: 0;}
.a_2 > ul > li > img {width: 380px}
.a_2 > ul > li > img:hover{
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;}
    @-webkit-keyframes flash {
        0% {
            opacity: .4;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes flash {
        0% {
            opacity: .4;
        }
        100% {
            opacity: 1;
        }
    }
.a_2 > ul > li > p {
    margin-top: 20px;
    font-size: 22px;
}
.a_2 > ul > li > a {
    display: inline-block;
    margin-top: 10px;
    color: #7e7e7e;
    font-weight: 700;
    border-bottom: 1px solid #a7a7a7;
}
.a_2 > .nonebox {display: none;}
.a_3 {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.a_3 .swiperBox {
    width: 50%; height: 644px;
    padding: 5.6% 6.2%;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
}
.a_3 > .swiper {
    width: 50%;
    height: 70vh;
    float: right;
    box-sizing: border-box;
}
.a_3 .new {
    width: 50%; height: 644px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* float: left; */
    box-sizing: border-box;
    border-left: 1px solid #ccc;

}

/* footer */
.ft1 {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding-top: 80px;
}
.ft1 li {
    margin-right: 10px;
    color: #6c6c6c;
    
}
.ft1 li span {
    margin-left: 10px;
    color: #dfdfdf;
}

.ft2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.ft2 li {
    margin-right: 20px;
    color:#919191;
}

footer p {
    color: #919191;
    margin-top: 10px;
}
footer .logo {
    display: inline-block;
    width: 70px;
    height: 50px;
    background: url(../img/마크.svg) no-repeat center/contain;
    margin: 60px 0;
}



@media all and (max-width: 768px){
/* 브라우저 창 width가 768px보다 작아지는 순간부터 적용
모바일 */
header {
    position: fixed; 
    width: 390px;
    z-index: 1000;
}
/* menuBarOn */
.menuBarOn {
    width: 320px;
    height: 100%;
    z-index: 2000;
}
.close {
    width: 20px;  height: 20px;
    top: 15px; right: 20px;
}
.buttonBox {
    display: block;
    border-bottom: none;
    border-top: 1px solid #2c2c2c;
}
.menuBarOn .inlogo {display: none;}
.menuBox {
    width: 320px;
    font-size: 24px; 
    border-bottom: 0.01px solid#2c2c2c;
}
.menuBox a {margin: 30px 20px;}
.menuBox a:last-child {
    display: block;
    font-size: 16px;
    padding: 10px 0 20px 0;
}
.menuBox a span {display: none;}
.menuBarOn ul {
    position: absolute;
    top: 15px; left: -10px;
    margin: 0;
    font-size: 13px;
}
.menuBarOn ul li:first-child a {display: none;}
.util > ul > li {display: none;}
.util > ul > li > img {position: absolute; right: 10px;}
.util > ul > li:last-child{display: block;}
.btnClose {
    position: absolute;
    top: 25px; right: 30px;
    width: 20px;
}
.btnshow .btncont {
    padding-top: 70px;
}
.btnshow {height: 550px;}
.btncont {
    width: 350px;
}
.inPut {
    width: 350px;
}
.sci {
    position: absolute;
    top: 195px;
    right: 30px;
    width: 30px;
}
.tab2 {
    padding-top: 20px;
    text-align: center;
}
.tab2 img {width: 280px;}
.pflex{
    font-size: 14px;
    margin: 20px;
}

/* //menuBarOn */



.mainCont {border: none; margin: 130px 0 0 0;}
.mainCont img {
    width: 100%;
    border: none;
    margin: 50px 0 0 0;
}
.content .big {margin: 50px 0; font-size: 55px;}
.content .gray {font-size: 16px; font-weight: 400;}
.content .b {font-size: 16px; margin-top: 16px;}
.brand {font-size: 35px;}
.text {font-size: 14px;}
.menuBar p {
    display: none;  
}
.menuBar > img {
    left: 0;
}
br.break-m {display: inline;}
.a_1{
    display: block;
    border: none;
    padding: 0;
}
.a_1 .new {
    width: 100%;
    height: 250px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.a_1 .swiperBox {
    width: 100%;
    height: 400px;
}
.a_2 {
    margin-top: 50px; 
    padding: 50px;
    border-top: 1px solid #ccc;
}
.a_2 > ul {display: none;}
.a_2 > .nonebox {
    display: block;
    margin-top: 50px;
}
.a_2 > .nonebox {
    width: 300px;
}
.a_2 > .nonebox img {
    width: 300px;
}
.swiper-slide p {font-size: 20px; font-weight: 700; margin: 30px 0;}
.swiper-slide a {display: none;}
.a_2 .swiper-pagination {
    display: none;
}
.a_3 {display: block;}
.a_3 .swiperBox {
    width: 100%;
    height: 450px;
    border: none;
    box-sizing: border-box;
    display: inline-block;

}
.a_3 .new {
    width: 100%;
    height: 300px;
    padding: 60px 0;
    border: none;
    border-top: 1px solid #ccc;
}
.ft1 li:nth-child(3) span {display: none;}
.ft1 li:nth-child(3) {padding-right: 10px;}
.ft1 {
    font-size: 13px;
    display: flex;
    border-top: 1px solid #ccc;
    flex-wrap: wrap;
    padding-top: 40px;
}
.ft2 {display: block; font-size: 14px; margin: 20px 0;}
.ft2 li {font-size: 12px;}
footer p {font-size: 12px;}
footer .logo {
    margin: 30px 0;
}



}